---
import Header from '../components/common/Header.svelte';
import Footer from '../components/common/Footer.svelte';

interface Props {
  title?: string;
}

const { title = 'Regal Roots Farm' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="/RegalRoots/styles/global.css" />
  </head>
  <body>
    <Header client:load />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>